.h { 
    color:blue;
    background-color: chartreuse;
    text-align: center;
    font-size: xx-large;
  } 
  .header{
   background-color: cadetblue;
   display:flex;
   justify-content: space-around;
  }
  .grid{
    display:flex;
 
    justify-content: space-around;
    flex-direction: column;
  }
  
  
  .para{
      text-align: left;
      font-size: xx-large;

  }